<?php

namespace omarinina\infrastructure\constants;

class FirebaseConfigForJS
{
    /**
     * @return string
     */
    public static function getFirebaseConfig(): string
    {
        return '{
            apiKey: "",
            authDomain: "",
            databaseURL: "",
            projectId: "",
            storageBucket: "",
            messagingSenderId: "",
            appId: ""
        }';
    }
}
