.error__list {
    font-size: 12px;
    color: #df5656;
}

.error__list--type {
    margin-left: 47px;
}

.error__list--nowrap {
    white-space: nowrap;
}

.form__switch {
    flex-wrap: wrap;
}

.pagination li.active{
    color:#fff;
    background-color:#2b51a6;
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
}

.pagination li:hover{opacity:.7}

.pagination li:active,.pagination li:focus{opacity:.6;outline:0}

.pagination li{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center}